h1{
    font-style: times bold;
    text-align: center;
}
body{
    background-color: lightgray;
}
img{
    width: 1000px;
    height: 400px;
}
div.quotes{
    font-weight: 900;
    display: block;
    background-image: url('Pictures/beach.jpg');
}
.my-fav{
    font-style: bold;
    font-style: italic;
    text-align: center;
    color: brown;
}
.Bandname{
    color: rgba(15, 0, 0, 0.582);
    font-style: bold;
    text-align: center;
}
div.list{
    height: 2.5cm;
    overflow: scroll;
}
.biography{
    padding: 20px 20px 20px 20px;
}