h1{
    font-style: times bold;
    text-align: center;
}
body{
    background-color: rgb(245, 239, 215);
}
img{
    width: 1000px;
    height: 400px;
}
div.quotes{
    font-weight: 900;
    display: block;
}
.my-fav{
    font-style: italic bold;
    text-align: center;
    color: rgb(21, 29, 41);
}
.Bandname{
    color: rgba(66, 5, 5, 0.582);
    font-style: bold;
    text-align: center;
}
div.list{
    height: 2.5cm;
    overflow: scroll;
}